@import '../../sassStyles/variables';

.card {
  width: 280px;
  height: 400px;
  position: relative;
  top: -60px;
  left: 0;
  text-align: center;
  margin: 0 20px;
  border-radius: 15px;
  background-color: rgb(244, 249, 255);
  transition: 0.5s ease-in;

  span {
    position: absolute;
    top: 8px;
    left: 24px;
    font-size: 48px;
    font-family: moret, serif;
    font-weight: 800;
    font-style: italic;
    color: #5472aab0;
  }

  h4 {
    position: relative;
    top: 80px;
  }

  &__icon {
    width: 120px;
    height: 120px;
    position: relative;
    top: 80px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 48px;

    img {
      width: 100%;
    }
  }

  &__desc {
    width: 220px;
    max-height: 50px;
    position: relative;
    top: 80px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }

  .request {
    width: 140px;
  }

  &:hover {
    background-color: #8aafd27a;
    transform: translateY(-24px);
    transition: 0.5s ease-in;
  }
}

@media (max-width: 1300px) {
  .card {
    width: 230px;
    margin: 0 9px;
  }
}

@media (max-width: 996px) {
  .card {
    min-width: 280px;
    margin: 0 32px 32px 32px;
  }
}

@media (max-width: 768px) {
  .card {
    min-width: 350px;
    margin: 0 32px 32px 32px;
  }
}