@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.input-box {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    font-size: 20px;
    margin-bottom: 8.5px;

    @include for-tablet-portrait {
      font-size: 16px;
    }
  }

  input {
    width: 636px;
    height: 60px;
    border: 1px solid $blue-regular;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 16px;
    margin-bottom: 24px;

    @include for-tablet-landscape {
      width: 400px;
    }

    @include for-tablet-portrait {
      height: 48px;
    }

    @include for-phone {
      width: 300px;
    }

    &::placeholder {
      font-size: 18px;
      font-family: SFProText-Thin;
      color: $blue-regular;

      @include for-tablet-portrait {
        font-size: 14px;
      }
    }
  }
 
}
