@import '../../sassStyles/variables';
@import '../../sassStyles//mixins';

.banner {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  z-index: -10;
  margin-bottom: 150px;

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center 20%;

    @include for-tablet-landscape {
      height: 300px;
    }
  }

  .about {
    width: 1280;
    //height: 604px;
    position: relative;
    text-align: center;

    @include for-tablet-landscape {
      width: 80%;
      margin: 0 auto;
    }

    h1 {
      font-size: 64px;
    }

    .intro {
      width: 590px;
      position: relative;
      margin: 0 auto;

      @include for-tablet-landscape {
        width: 100%;
      }

      @include for-phone {
        width: 90%;
      }

      a {
        width: 130px;
        height: 54px;
        position: relative;
        top: 40px;
        font-family: SFProText-Medium;
        cursor: pointer;

        .about-btn {
          width: 130px;
          height: 54px;
          font-size: 18px;
          color: $white-01;
          background-color: $blue-dark;
          padding: 16px;
          border-style: none;
          border-radius: 5px;
          margin-bottom: 96px;

          &::hover {
            background-color: $blue-regular;
          }
        }
      }
    }
  }
}