@import '../../sassStyles/variables';

.contact-page {
  position: relative;

  .page-title {
    width: 100%;
    height: 230px;
    position: relative;
    top: $nav-height;
    text-align: center;
  }
}