@import '../../sassStyles/variables';

button {
  width: 224px;
  height: 62px;
  background-color: $gray-invalid-01;
  border-style: none;
  border-radius: 5px;
  color: $gray-invalid-02;
  font-family: SFProText-Regular;
  font-size: 24px;
  line-height: 24px;
}

.valid {
  background-color: $blue-dark;
  color: $white-03;
}