

/* color */
$blue-light: #CADDF0;
$blue-regular: #8AAFD2;
$blue-dark: #375FAA;

$gray-light: #59616A;
$gray-dark: #0F1D3A;

$white-01: #FFFFFF;
$white-02: #FDFDFD;

/* fonts */
$spacing: 3px;

/* width */
$max-width: 1280px;

/* height */
$nav-height: 72px;
$main-height: calc(100vh - 72px);

$radius: 5px;