@import '../../sassStyles/variables';

.slide-menu {
  width: 100vw;
  height: 240px;
  position: absolute;
  top: $nav-height;
  left: 0;
  background-color: $blue-light;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: -1;
  
  .menu {
    width: 100%;
    height: 100%;

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    &__link {
      width: 90%;
      height: 80px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .line {
    border-bottom: solid 1px $blue-regular;
    margin: 0 auto;
  }
}